@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap');

.favorites-box {
    position: relative; /* Add this line to make the box a positioning context */
    margin: auto;
    margin-top: 20px;
    margin-bottom: 80px;
    width: 1590px; /* adjust the width as you like */
    height: 200px; /* adjust the height as you like */
    border: 2px solid rgb(85, 249, 255); /* add a border to the box */
    border-radius: 90px;
    background-color: rgb(10, 47, 58); /* change the background color of the box */
    box-shadow: 0 3px 9px 2px rgba(0, 0, 0, 0.55);
  }
  
  .favorites-text {
    position: relative;
    margin-top: 80px;
    text-align: center;
    font-size: 60px;
    font-family: 'Readex Pro', sans-serif; 
    text-shadow: 0 2px 4px rgb(85, 249, 255);
  }
  
  .circle1 {
    position: absolute; /* Add this line to position the circle */
    left: 30px; /* Adjust the left position as needed */
    top: 25px; /* Adjust the top position as needed */
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid rgb(49, 255, 252);
    background-color: rgb(255, 255, 255);
    background-image: url("https://cdn.nba.com/headshots/nba/latest/1040x760/201939.png");
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
  }
  
  .circle1:hover {
    transform: scale(1.1);
    z-index: 1; /* Add this line to ensure the circle is on top of circle2 */
  }
  
  .circle2 {
    position: absolute; /* Add this line to position the circle */
    left: 200px; /* Adjust the left position as needed */
    top: 25px; /* Adjust the top position as needed */
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid rgb(49, 255, 252);
    background-color: rgb(255, 255, 255);
    background-image: url("https://cdn.nba.com/headshots/nba/latest/1040x760/2544.png");
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
  }
  
  .circle2:hover {
    transform: scale(1.1);
  }
  .circle3 {
    position: absolute; /* Add this line to position the circle */
    left: 370px; /* Adjust the left position as needed */
    top: 25px; /* Adjust the top position as needed */
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid rgb(49, 255, 252);
    background-color: rgb(255, 255, 255);
    background-image: url("https://cdn.nba.com/headshots/nba/latest/1040x760/203507.png");
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
  }
  
  .circle3:hover {
    transform: scale(1.1);
  }
  .circle4 {
    position: absolute; /* Add this line to position the circle */
    left: 540px; /* Adjust the left position as needed */
    top: 25px; /* Adjust the top position as needed */
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid rgb(49, 255, 252);
    background-color: rgb(255, 255, 255);
    background-image: url("https://cdn.nba.com/headshots/nba/latest/1040x760/203999.png");
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
  }
  
  .circle4:hover {
    transform: scale(1.1);
  }

  .circle5 {
    position: absolute; /* Add this line to position the circle */
    left: 710px; /* Adjust the left position as needed */
    top: 25px; /* Adjust the top position as needed */
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid rgb(49, 255, 252);
    background-color: rgb(255, 255, 255);
    background-image: url("https://cdn.nba.com/headshots/nba/latest/1040x760/1629029.png");
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
  }
  
  .circle5:hover {
    transform: scale(1.1);
  }

  /* MacBook Air */
  @media (max-width: 1440px) {
    .favorites-box{
      width: 90%;
    }
  }
  @media (max-width: 768px) {
    .favorites-box{
      overflow-x: scroll;
    }
  }
