.navbar {
    background-color: rgb(19, 38, 53);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.485);
    padding: 10px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 9999;
  }
  
  .logo {
    padding-left: 20px;
    width: 20%;
  }
  
  .navigation {
    color: #69FFFF;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-left: 35%;
  }  
  
  .hamburger {
    display: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 10px;
  }

  .home-button {
    justify-content: center;
    margin: auto;
    margin-left: -40%;
    padding-right: 30px;
    position: relative;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    transform: translateX(-.50in);
  }
  
  .home-button:hover {
    background-color: rgb(23, 70, 102);
    color: rgb(27, 219, 216);
  }
  
  .home-text {
    padding-left: 10px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-left: 20px;
  }
  .feed-button {
    justify-content: center;
    margin: auto;
    margin-left: -50%;
    padding-right: 30px;
    position: relative;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    transform: translateX(-.50in);
  }
  
  .feed-button:hover {
    background-color: rgb(23, 70, 102);
    color: rgb(27, 219, 216);
  }
  
  .feed-text {
    padding-left: 10px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-left: 20px;
  }
  .team-button {
    justify-content: center;
    margin: auto;
    margin-left: -50%;
    padding-right: 30px;
    position: relative;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    transform: translateX(-.50in);
  }
  
  .team-button:hover {
    background-color: rgb(23, 70, 102);
    color: rgb(27, 219, 216);
  }
  
  .team-text {
    padding-left: 10px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-left: 20px;
  }
  .home-button .home-text.active {
    color: white;
    font-weight: 900;
  }
  .feed-button .feed-text.active {
    color: white;
    font-weight: 900;
  }
  .team-button .team-text.active {
    color: white;
    font-weight: 900;
  }


  @media (max-width: 768px) {
    .navbar {
      flex-wrap: wrap;
      justify-content: center;
    }
    .logo {
      width: 200px;
      margin-left: -10px;
    }
  
    .navigation {
      display: none;
      width: 100%;
    }
  
    .navigation.open {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }
  
    .navigation a {
      display: block;
      text-align: center;
      margin: 10px 0;
      color: #69FFFF;
    }
  
    .navigation .home {
      margin-left: -57%;
      align-items: center;
      justify-content: center;
    }
  
    .hamburger {
      display: block;
      margin-left: auto;
      margin-right: 10px;
    }
    .home-button {
      border: none;
      margin-top: 20px;
      margin-left: 20%;
      padding-left: 15px;
    }
    .home-button:hover {
      background-color: transparent;
    }
    .feed-button {
      border: none;
      margin-top: 20px;
      margin-left: 21%;
      padding-left: 15px;
    }
    .feed-button:hover {
      background-color: transparent;
    }
    .team-button {
      border: none;
      margin-top: 20px;
      margin-left: 13%;
      padding-left: 15px;
    }
    .team-button:hover {
      background-color: transparent;
    }

  }
  
  
  
  