.scorebox {
    margin: auto;
    margin-top: 60px;
    width: 1750px;
    height: 300px;
    border-radius: 20px;
    background-color: rgb(8, 27, 40);
    box-shadow: 0 3px 9px 2px rgba(0, 0, 0, 0.55);
}

.dummytext {
    text-align: center;
    margin-top: 100px;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

.away-team {
    position: absolute;
    top: 350px;
    right: 67%;
    transform: translateX(-50%);
    width: 120px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(34, 255, 248, 0.793);
}

.home-team {
    position: absolute;
    top: 350px;
    right: 21%;
    transform: translateX(-50%);
    width: 120px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 3px 9px rgba(34, 255, 248, 0.793);
}

.away-team-name {
    position: absolute;
    margin-top: 10px;
    top: 350px;
    left: 17%;
    transform: translateX(-50%);
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.home-team-name {
    position: absolute;
    margin-top: 10px;
    top: 350px;
    right: 4%;
    transform: translateX(-50%);
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.home-image {
    width: 80px;
    margin-top: 10px;
    margin-left: 20px;
}

.away-image {
    width: 400px;
    margin-top: 14px;
    margin-left: 2px;
}

.home-team-record {
    position: absolute;
    top: 390px;
    left: 79%;
    transform: translateX(-50%);
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.away-team-record {
    position: absolute;
    top: 390px;
    right: 78%;
    transform: translateX(-50%);
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.home-score {
    position: absolute;
    top: 360px;
    right: 35%;
    transform: translateX(-50%);
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.away-score {
    position: absolute;
    top: 360px;
    right: 58.1%;
    transform: translateX(-50%);
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.provider-image {
    margin: auto;
    align-items: center;
    width: 53px;
    position: relative; /* Add this line to ensure top is positioned relative to the parent */
    top: 50px; /* Adjust the value to move the image further down */
    transform: translateX(-50%);
    margin-left: 860px; /* Adjust the value to move the image left or right */
    box-shadow: 0 0 4px rgb(255, 255, 255);
    border-radius: 40px;
}

.day {
    margin: auto;
    width: 50px;
    font-size: 90px;
    position: relative; /* Add this line to ensure top is positioned relative to the parent */
    top: 40px; /* Adjust the value to move the image further down */
    transform: translateX(-50%);
    margin-left: 810px; /* Adjust the value to move the image left or right */
    color: white;
}

.time {
    margin: auto;
    width: 110px;
    font-size: 20px;
    position: relative; /* Add this line to ensure top is positioned relative to the parent */
    top: 50px; /* Adjust the value to move the image further down */
    transform: translateX(-50%);
    margin-left: 870px; /* Adjust the value to move the image left or right */
    color: white;
    font-weight: 300;
}

/* MacBook Air Style */

@media (max-width: 1440px) {
    .scorebox {
        width: 90%;
    }

    .away-team {
        left: 20.6%;
        transform: translateX(50%);
    }

    .home-team {
        right: 30%;
        transform: translateX(50%);
    }

    .home-image {
        width: 60%;
        margin-top: 13px;
        margin-left: 25px; /* Adjust the value to move the image left */
    }

    .away-image {
        width: 100%;
        margin-left: 0.5%;
    }

    .home-team-record,
    .away-team-record {
        font-size: 1.3vw;
    }
    .home-team-record {
        margin-left: -20px;
        margin-top: -0.5%;
    }
    .away-team-record{
        margin-right: -21px;
        margin-top: -0.5%;
    }

    .home-score,
    .away-score {
        font-size: 3vw;
    }

    .provider-image {
        width: 3%;
        margin-left: 50%;
    }

    .day {
        font-size: 6vw;
        margin-left: 46%;
    }

    .time {
        font-size: 1vw;
        margin-left: 51.5%;
    }

    .away-team-name {
        margin-top: .2%;
    }

    .home-team-name {
        margin-top: .2%;
        margin-right: -61px;
    }
}

@media (max-width: 768px) {
    .away-team{
        margin-top: 15px;
        margin-left: -60px;
        width: 80px;
        height: 80px;
    }
    .away-team-name{
        font-size: 16px;
        margin-top: -42px;
        margin-left: 38px;
    }
    .away-team-record{
        margin-right: -8%;
        margin-top: -63px;
        font-size: 15px;
    }
    .away-score{
        margin-top: 105px;
        margin-right: 20px;
        font-size: 50px;
    }
    .home-team{
        margin-top: 15px;
        margin-right: -30px;
        width: 80px;
        height: 80px;
    }
    .home-image{
        width: 50px;
        margin-left: 16px;
    }
    .home-team-name{
        font-size: 16px;
        padding-left: 60px;
        margin-top: -42px;
    }
    .home-team-record{
        margin-top: -63px;
        font-size: 15px;
        margin-left: -15px;
    }
    .home-score{
        margin-top: 105px;
        margin-right: -118px;
        font-size: 50px;
    }
    .provider-image {
        width: 6%;
        top: 87px;
    }

    .day {
        margin-top: 49px;
        margin-left: 208px;
        font-size: 40px;
    }

    .time {
        margin-top: -10px;
        font-size: 14px;
        margin-left: 54%;
    }
}
