.table-main {
    /* Styles for the main container */
  }
  
  .box {
    margin: auto;
    margin-top: 350px;
    margin-bottom: 90px;
    margin-left: 108px;
    width: 1490px;
    height: 800px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 4px;
    overflow: hidden; 
  }
  
  .stats-table {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 80px;
    width: 60%;
    border-collapse: collapse;
  }
  
  .stats-table th,
  .stats-table td {
    padding: 2px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc; /* Add border on the right side of each cell */
  }
  
  .stats-table th:last-child,
  .stats-table td:last-child {
    border-right: none; /* Remove border on the right side of the last cell in each row */
  }

  @media (max-width: 1440px) {
    .box{
      margin-left: 20px;
      width: 92%;
    }
  }
  