.ticker{
    margin-top: 40px;
    width: 99%;
}

.theme {
    margin-left: 80px;
    margin-right: 70px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-color: rgb(34, 255, 248);
    border-width: 2px;
    border-radius: 20px;
    background-color: rgb(8, 27, 40);
    box-shadow: 0 9px 11px rgb(105, 105, 106);
    overflow: hidden; 
    top: 40px; /* Adjust this value to match the height of your header */
    flex-wrap: wrap; /* add this line to allow the flex items to wrap onto multiple lines */
    display: flex;
}

.text {
    color: rgb(255, 221, 0);
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    white-space: nowrap; 
    animation: scroll 20s linear infinite; 
    display: flex;
    align-items: center;
    flex-grow: 1; 
}


.image {
    width: 100px; /* add this line to set the image width */
    height: 70px; /* add this line to set the image height */
    border-radius: 0%; /* add this line to make the image circular */
    margin-right: 10px; /* add this line to add some space between the image and text elements */
}

@keyframes scroll { 
  from {
    transform: translateX(80%);
  }
  to {
    transform: translateX(-80%);
  }
}

@media (max-width: 768px){
  .ticker{
    width: 122%;
    margin-left: -12%;
  }
}
